[submodule "hardware/kicad-library"]
	path = hardware/kicad-library
	url = ../kicad-library
[submodule "firmware/blackmagic"]
	path = firmware/blackmagic
	url = ../blackmagic.git
[submodule "firmware/chibios"]
	path = firmware/chibios
	url = ../ChibiOS.git
